*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    color: #fff;
    background-color: #221a1a;
    font-family: "roboto","arial","sans-serif";


}

#first-box,#second-box,#sub{
    position: absolute;
    

}

.hambarger{
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    
}

#first-box{
    margin-top: 30px;
    /* background-color: gray; */
}
.logo{
    margin-left: 35px;
    margin-top: 5px;
}

#sidebar{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-bottom: 2px solid black;
    background-color: #212121;
    
}



    

#yt-logo{
    margin: 10px;
}



.first{
    
    height: 20px;
    width: 20px;   
    margin: 15px;
    text-align: center;
    /* align-items: center; */
    color: #fff;
    
} 

#second-box{
    margin-top: 300px;
}

.second{

    height: 20px;
    width: 20px;   
    margin: 15px;
}

.channels{
    
    height: 20px;
    width: 20px;   
    margin: 15px;
}

#search-box{
    /* position: absolute; */
    display: flex;
    /* justify-content: space-around; */
    /* border: 2px solid red */
    width: 40%;
    margin-left: 40%;
    bottom: 93%;
    
}

.top{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    background-color: white;
    
  
}

.bad{
    display: flex;
    justify-content: space-evenly;
    
    /* border: 2px solid black; */
    padding-top: 5px;
    

   
    width: 200px;
    height: 35px;
    text-align: center;
    max-width: fit-content;
    min-width: 100px;
  
    background-color: white;
    color: black;
    border-radius: 20px;
}

#navigation{
    /* border: 2px solid black; */
    display: flex;
    position: absolute;
    
    margin-left: 300px;
   
   
    margin-top: 15px;
    /* border: 2px solid black; */
    

}

#firstvid{
    
    
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 150px;
    margin-left: 300px;
    margin-top: 40px;
}

.tick{
    height: 15px;
    margin-top: 10px;    
    width: 15px;
}

#secondvid{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30%;
    margin-top: 170px;
    
    
    margin-left: 300px;
    
}

.sv,.fv,.tv{
    margin: 10px;
}

#thirdvid{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

#sub{
    margin-top: 750px;

}

@media (max-width:425px){
    #firstvid,#secondvid,#thirdvid,#search-box{
        display: flex;
    }
}