*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    color: #fff;
    background-color: #221a1a;
    font-family: "roboto","arial","sans-serif";


}

#first-box,#second-box,#sub{
    position: absolute;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    

}

.hambarger{
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    
}

#first-box{
   max-width: 200px;
}

.logo{
    margin-left: 35px;
    margin-top: 5px;
}    

#yt-logo{
    margin: 10px;
}

.first{
    
    height: 20px;
    width: 20px;   
    margin: 15px;
    text-align: center;
    
    color: #fff;
    text-align:inherit;
    
} 

#second-box{
    margin-top: 220px;
  
}

.second{
    
    margin: 15px;
    height: 20px;
    width: 20px;   
    text-align: center;
    
    margin-left: 10px;
}

.channels{
    
    height: 20px;
    width: 20px;   
    margin: 15px;
}

#search-box{
    position: absolute;
    display: flex;
    /* justify-content: space-around; */
    /* border: 2px solid red */
    width: 40%;
    margin-left: 40%;
    bottom: 93%;
    
}

.top{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    background-color: white;
    
  
}

.bad{
    display: inline-flex;
    
    justify-content: space-evenly;
    
    /* border: 2px solid black; */
    padding-top: 5px;
    height: 35px;
    text-align: center;
    max-width: fit-content;
    min-width: 100px;
  
    background-color: white;
    color: black;
    border-radius: 20px;
}

#navigation{
    display: flex;
    position: absolute;
    
    margin-left: 200px;
   
   
    margin-top: 15px;
    /* border: 2px solid black; */
    

}

#firstvid{
    
    /* border: 2px solid black; */
    display: flex;
    /* position: relative; */
    height: 100px;
    width: 150px;
    margin-left: 300px;
    margin-top: 40px;
}

.tick{
    height: 15px;
    margin-top: 10px;    
    width: 15px;
}

#secondvid{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30%;
    margin-top: 170px;
    
    
    margin-left: 300px;
    
}

.sv,.fv,.tv{
    margin: 10px;

}

#thirdvid{
    
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

#sub{
    margin-top: 550px;
    display: inline-block;

}

@media (max-width:425px){
    #yt-logo,#first-box,#second-box,#sub{
        display: none;
        
        
    }

    .bad{
        display: none;
    }

    .top{
        display: flex;
        flex-wrap: wrap;
    }

    

    
    #firstvid{
        margin: 10%;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        
    }

    #secondvid{
        display: flex;
        flex-direction: column;
        margin: 10%;
        margin-top: 700px;
    }

    #thirdvid{
        display: none;
    }
   
}